* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {


    .opshi {

        .home1 {

            nav {
                ul {
                    li {
                        list-style: none;
                    }
                }
            }
        }

        .ijtimoiy {
            padding: 0px 0px 0px 160px;
        }

    }

    main {


        .container {

            width: 100%;
            height: 100%;

            .chap {


                width: 70%;

                .profil {
                    padding: 100px 0px 0px 0px;
                    gap: 100px;

                    .profill {
                        padding: 20px 0px;



                        .jon {
                            .rasm {
                                padding: 0px 10px 0px 0px;
                            }
                        }
                    }

                    .soat {
                        .img {

                            padding: 10px 10px 0px 0px;
                        }

                        .imgs {
                            padding: 0px 10px 0px 0px;
                        }
                    }
                }

            }

            .ong {

                width: 30%;

                .pri {

                    padding: 10px 0px 0px 0px;

                    .print {
                        padding: 10px;
                        background-color: #E7FAFE;
                        border-radius: 50%;
                    }
                }

                .share {

                    padding: 10px 0px 0px 0px;
                    bottom: 200px;

                    .print {
                        padding: 10px;
                        background-color: #E7FAFE;
                        border-radius: 50%;
                    }
                }

                .table {
                    margin-top: 150px;
                    padding: 20px;
                    background-color: #E7FAFE;
                    height: 600px;
                    border-radius: 20px;

                    h4 {
                        padding: 10px 0px;
                    }

                    .jadval {
                        padding: 10px 0px;

                        p {
                            color: #00000096;
                        }
                    }

                    .p {
                        text-align: center;
                        padding: 130px 0px 0px 0px;
                    }
                }
            }

            .ppp {
                padding: 50px 0px;
            }

            .aside {

                .chap1 {

                    width: 70%;

                    h5 {
                        padding: 60px 10px 0px 0px;
                    }

                    .ing {
                        p {
                            color: rgba(0, 0, 0, 0.242);
                        }
                    }

                    .bu {
                        padding: 15px 0px;

                        button {
                            padding: 8px;
                            border-radius: 100%;


                        }

                        p {
                            padding: 5px 0px 0px 0px;
                        }
                    }

                    .dic {
                        padding: 60px 0px 0px 0px;

                        h5 {
                            padding: 20px 20px;
                        }

                        p {
                            padding: 20px 30px 20px 20px;
                        }

                        .oshpaz{
                            padding: 20px;
                        }
                    }
                }

                .ong1 {

                    width: 30%;

                    .kattasi {
                        padding: 20px 0px;


                        .chicken {
                            .img1 {

                                img {
                                    border-radius: 20px;
                                }
                            }

                            .text {

                                padding: 10px 0px 0px 10px;

                            }
                        }

                    }

                    .imgg {

                    bottom: 350px;
                    left: 20px;

                    }

                    .text3 {
                        bottom: 750px;
                        text-align: center;
                        
                        padding: 0px 50px;
                        color: white;

                    }




                }
            }


            .container4 {
                background-color: #E7FAFE;
                border-radius: 20px;
    
    
                .text-oxiri {
                    padding: 100px 0px 0px 0px;
    
                    p {
                        padding: 20px 0px;
                    }
                }
    
                .uchta {
    
                    .bbbbb {
                        width: 33.3%;
                    }
    
                    .oooo {
                        width: 66.6%;
                    }
    
                    .tugma4 {
                        width: 50%;
    
    
                        .your {
                            width: 1000px;
                            background-color: #FFFFFF;
                            padding: 20px 10px 20px 20px;
                            border-radius: 20px;
                            border: none;
                            position: relative;
                            top: 200px;
    
                            p {
                                position: relative;
                                top: 22px;
                                right: 50px;
                            }
    
                            .sub {
                                padding: 20px 40px;
                                background-color: black;
                                color: white;
                                border-radius: 20px;
                                border: none;
                            }
                        }
                    }
    
                    .rasm2 {
    
                        left: 145px;
                        top: 135px;
                        width: 50%;
    
                    }
    
                }
    
    
            }

            .h22{
                padding: 100px 0px 30px 0px;
                text-align: center;
            }
            .fast-fut1 {

                .mixed {
                    .mix {
                        padding: 10px 0px;
                    }

                    .yon {
                        padding: 30px 0px 0px 0px;
                    }
                    
                }
            }
            .container5 {


                padding: 100px 0px;
    
    
                .navv {
                    
                    nav {
    
                       
                        ul {
                            display: flex;
                            gap: 30px;
                            li {
                                list-style: none;
                            }
                        }
                    }
                }
            }
        }

    }
}